@font-face{font-family:MyriadPro-Bold;src:url("../fonts/MyriadPro-Bold.otf")}
@font-face{font-family:MyriadPro-BoldCond;src:url("../fonts/MyriadPro-BoldCond.otf")}
@font-face{font-family:MyriadPro-Regular;src:url("../fonts/MyriadPro-Regular.otf")}
body{background:#005daa;color:#005daa;font-family:Arial;font-size:16px;height:100%;margin:0;padding:0}
footer{background:#005daa;color:#fff;height:60px;padding:1em 0;text-align:center;vertical-align:middle;width:100%;}
footer .imgPie{float:left;padding-left:2%;}
footer .imgPie img{height:50px}
footer .textoPie{float:left;padding-left:2%;}
footer .textoPie img{height:50px}
header{background:#9fce67;color:#fff;height:55px;overflow:hidden;padding:0;position:relative;width:100%;z-index:2;}
header .logo{float:left;}
header .logo img{height:55px}
.posts{display:inline-block;top:0;left:0;right:0;background:#e6e7e8;bottom:0;margin:auto;height:100%;width:100%; }
.posts .container{height:290px;padding-top:10px;width:100%}
.posts figure{padding-top:10px}
@media screen and (min-width: 800px){footer{height:10%;display:inline-block;overflow:hidden;padding-top:15px;width:100%;}
footer .imgPie{height:10%;padding-top:2%;padding-left:2%;width:45%;}
footer .imgPie img{height:142px;width:396px}
footer .textoPie{height:10%;padding-top:5%;padding-left:1%;width:45%;}
footer .textoPie img{height:100px;width:300px}
header{height:15%;overflow:hidden;padding:0;position:relative;width:100%;z-index:2;}
header .logo{float:left;width:33%;}
header .logo img{height:142px}
header #menu{float:right;height:5%;width:62%;padding-right:2%;padding-bottom:0;margin-top:7%;}
header #menu #navy{list-style:none;margin:0;padding:0;}
header #menu #navy li{border-radius:15px 15px 15px 15px;height:5%;margin:.2em;padding:1%;background:rgba(0,93,170,0.7);border:1px solid #005daa;float:left;width:10%;}
header #menu #navy li a{color:#fff;display:block;font-family:'MyriadPro-Regular, Tahoma';text-decoration:none;text-align:center;font-size:.8em}
header #menu #navy li a:hover{color:#000}
header #menu #navy li:hover,header #menu #navy li#selected{background:rgba(159,206,103,0.7);border:2px solid #008000;color:#000}
.posts{height:80%;}
.posts #container1{height:37%;width:40%}
.posts #container2{height:37%;position:absolute;left:0;top:60%;width:40%}
.posts #figura1,.posts #figura2{width:25%;height:37%}
#social{height:65%;position:absolute;right:4%;top:20%;width:10%;}
#social div{height:33%;padding:4%;width:92%;}
#social div img{width:60%;height:50%;padding:40%}
#social div img:hover{padding-left:45%;cursor:pointer;opacity:.5}
}